
body{
    display: flex;
     flex-direction: column; 
     width: 100%;
}




body.homepage{
    background: rgba(37, 9, 215, 0.85);
   
    cover: 100%;
  
}

.homepage .anim{
    height: 0px;
    padding: 0px;
    border: 130em solid #039be5;
    position: fixed;
    left: 50%;
    top: 100%;
    display: block;
    box-sizing: initial;
    overflow: hidden;
    border-radius: 10%;
    transform: translate(-50%, -50%);
    animation: body_part 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}

.homepage #animate {
    background: rgba(37, 9, 215, 0.85);
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,last_transition 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s, 2.9s ease forwards;
}




@keyframes init{
    0%{
        width: 0px;
        height: 0px;
        transform: rotate(90deg);
    }
    100%{
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes body_part{
    0%{
        top: 100%;
        height: 0px;
        padding: 0px;
    }
    100%{
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }
}

@keyframes borderRadius{
    0%{
        border-radius: 10%;
    }
    100%{
        border-radius: 0px;
    }
}

@keyframes moveDown{
    0%{
        top: 50%;
        transform: rotate(90deg)
    }
    50%{
        top: 40%;
    }
    100%{
        top: 100%;
    }
}

@keyframes moveUp{
    0%{
        background: rgba(37, 9, 215, 0.85);
        top: 100%;
        transform: rotate(90deg)
    }
    50%{
        top: 40%;
    }
    100%{
        top: 50%;
        background: #039be5;
    }
}
/* nav bar wali */
@keyframes last_transition{
    0%{
        background: #039be5;

    }
    50%{
        background: #039be5;
        top: 7.5vh;
    }


    99%{
        background:  rgba(37, 9, 215, 0.85);
        
        width: 100%;
        height: 100%;
        border-radius: 0px;
        top: 26px;

    }

    100%{
        background:  rgba(37, 9, 215, 0.85);
        
        width: 0%;
        height: 0%;
        border-radius: 0px;
        top: 26px;

    }
}

@keyframes moveIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


li{
    
    
    padding-left: 6%;
    margin-right: 0vh;
   z-index: 100000000000;
    
    
}
ul{
    display: flex;
    flex-direction: row-reverse;
    gap: 20vh;
    margin-top: 3vh;
    list-style-type: none;
    
    
}
.nav_links{
    color:aliceblue;
    text-decoration: none;
    
}

.nav_div{
    
   
}
#giticon{
    border-radius: 50%;
}

.home {
    display: flex;
    
    
    
  }
  .home-img {
    height: 40vw;
    width: 30vw;
    margin-left:10vh;
    margin-top:10vh;
    margin-right:10vh;
    border-radius: 10%;
  }
  
  .abouttext {
    
    flex: 1 0 auto;
    
    width: 60vh;
    padding: 0.625vh;
    border-radius: 6px;
    font-size: 3.5vh;
    color: aliceblue;
    margin-top: 7vh;
    
    
  }
  
  
  
  .about-title {
    display: flex;
    margin-top: 20vh;
    font-size: 7vh;
  }

  .contacticon {
    display: flex;
    margin-top:75vh;
    gap: 4vh;
    margin-left: 13vh;

    
  }
  about-text{
     width: 60vw;

  }
  
  .icon {
    width: 4vh;
    height:4vh;
    margin-top: 4vh;  
    margin-right: 5vh;
 
}
  
  